body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 89%;
  margin: auto;
}

.content {
  width: 77%;
  margin: auto;
}

.active {
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}

.fa-heart {
  color: red;
  cursor: pointer;
}
